<div class="example-container">
    <h1>Register</h1>
    <mat-form-field>
      <input [(ngModel)]="registerData.username" matInput placeholder="Username" required>
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" [(ngModel)]="registerData.password" matInput placeholder="Password" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="registerData.firstName" matInput placeholder="First name" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="registerData.lastName" matInput placeholder="Last name" required>
    </mat-form-field>
    <button (click)="register()" mat-raised-button>Register</button>
  </div>
<router-outlet></router-outlet>